p{
	font-weight:normal;
	font-size: 120%;
	line-height:150%;
}

.navbar{
	background-color: rgb(46,76,31);
}

#suikaNav{
	color: rgba(255,255,255,0.9);
	font-weight:lighter;
}

#active{
	background-color: rgba(0,0,0,0.5);
}
.page-header{
  width:80%;
  margin:0 auto;
  border-bottom:0;
}
#page1,#page2{
  min-height:1024px;
  min-width:100%;
}
.well{
  border-radius:0;
  border:0;
  box-shadow:none;
  -webkit-box-shadow:none;
}
#foo{
  position:absolute;
  top:2048px;
  min-height:400px;
}
